.row {
    display: flex !important;

    flex-wrap: wrap;

    justify-content: space-evenly;

    align-items: center;

    flex-direction: row;
}


.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

/* row/column gap */
.gap-1 {

    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-4 {
    gap: 4rem;
}

.gap-5 {
    gap: 5rem;
}

/* padding */
.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.p-4 {
    padding: 4rem;
}

.p-5 {
    padding: 5rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pt-4 {
    padding-top: 4rem;
}

.pt-5 {
    padding-top: 5rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

.pb-5 {
    padding-bottom: 5rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pl-2 {
    padding-left: 2rem;
}

.pl-3 {
    padding-left: 3rem;
}

.pl-4 {
    padding-left: 4rem;
}

.pl-5 {
    padding-left: 5rem;
}

.pr-1 {
    padding-right: 1rem;
}

.pr-2 {
    padding-right: 2rem;
}

.pr-3 {
    padding-right: 3rem;
}

.pr-4 {
    padding-right: 4rem;
}

.pr-5 {
    padding-right: 5rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.px-5 {
    padding-left: 5rem;
    padding-right: 5rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}


.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}


.py-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* margins */
.m-auto {
    margin: auto;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.ml-4 {
    margin-left: 4rem;
}

.ml-5 {
    margin-left: 5rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mr-4 {
    margin-right: 4rem;
}

.mr-5 {
    margin-right: 5rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-3 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.mx-4 {
    margin-left: 4rem;
    margin-right: 4rem;
}

.mx-5 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* justify content */
.justify-space-between {
    justify-content: space-between !important;
}

.justify-start {
    justify-content: flex-start !important;
}

.justify-end {
    justify-content: flex-end !important;
}

.justify-space-around {
    justify-content: space-around !important;
}

.justify-center {
    justify-content: center !important;
}

/* align items */
.align-items-center {
    align-items: center !important;
}

.align-items-start {
    align-items: flex-start !important;
}

.align-items-end {
    align-items: flex-end !important;
}

.align-items-space-between {
    align-items: space-between !important;
}

.align-items-space-around {
    align-items: space-around !important;
}

.align-items-baseline {
    align-items: baseline !important;
}

.align-items-stretch {
    align-items: stretch !important;
}


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

/* col */
col {
    width: auto;
}

/* content */
.content {
    width: 85%;
    margin: 10px 7.5%;
}

/* container */
.container {
    width: 85%;
    margin: 10px 7.5%;
}

.container-fluid {
    width: 100%;
    margin: 10px 0;
}

[class*="display-"] {
    line-height: 1.2;
}

.display-1 {
    font-size: 1rem;
}

.display-2 {
    font-size: 2rem;
}

.display-3 {
    font-size: 3rem;
}

.display-4 {
    font-size: 4rem;
}

.display-5 {
    font-size: 5rem;
}

.display-6 {
    font-size: 6rem;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

.regular {
    font-weight: 400;
}

/* font size */
.fs-1 {
    font-size: 1rem;
}


.fs-2 {
    font-size: 2rem;
}

.fs-3 {
    font-size: 3rem;
}

.fs-4 {
    font-size: 4rem;
}

.fs-5 {
    font-size: 5rem;
}

.fs-6 {
    font-size: 6rem;
}

/* text align */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

a {
    text-decoration: none;
}



/* media */
@media only screen and (min-width: 768px) {
    /* For desktop: */

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    /* [class*="col-"] {

		/*desktop styling for col

} */
}